# Python
__pycache__/
*.py[cod]
*$py.class
.Python
env/
.env
build/
develop-eggs/
dist/
downloads/
information_files/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Dataset files
data/
*.gz

# Model files (optional, depending on if you want to include them)
# *.pth

# IDE specific files
.vscode/
.idea/
*.swp
*.swo.env
